<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Credentials</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
    <link rel="stylesheet" href="/css/rentalStyles.css" />
    <link rel="icon" type="image/png" href="/assets/logo2.png" />

    <style>
      .alert-error {
        color: #721c24;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        padding: 10px;
        margin: 20px 0;
        border-radius: 4px;
      }

      .form-control label {
        font-size: large;
        margin: 40px auto 15px;
      }

      .form-control input {
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        margin: 0 auto 10px;
      }
    </style>

    <script>
      function handleSkip() {
        const form = document.createElement("form");
        form.method = "POST";
        form.action = "/subscription/verify-credentials";
        form.setAttribute("novalidate", "novalidate");

        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "action";
        input.value = "skip";
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
      }
    </script>
  </head>
  <body>
    <%- include('../common/navigation.ejs') %> <%-
    include('../common/chatbot.ejs') %>
    <main>
      <form
        class="credentials-form"
        action="/subscription/verify-credentials"
        method="POST"
      >
        <h1>Verify Platform Credentials</h1>
        <br />
        <% if (action === 'update') { %>
        <input type="hidden" name="productId" value="<%= productId %>" />
        <% } %>
        <div class="form-control">
          <label for="email">Account Email</label>
          <input type="email" name="email" id="email" <%= action === 'verify' ?
          'required' : '' %>>
        </div>
        <div class="form-control">
          <label for="password">Account Password</label>
          <input type="password" name="password" id="password" <%= action ===
          'verify' ? 'required' : '' %>>
        </div>
        <div class="button-group" style="align-items: center">
          <button
            type="submit"
            name="action"
            value="verify"
            class="btn-primary"
            style="
              margin: 40px 50px;
              background: linear-gradient(135deg, #44a559, #3c6d47);
            "
          >
            Verify Credentials
          </button>
          <button
            type="button"
            onclick="handleSkip()"
            class="btn-secondary"
            style="
              margin: 40px 50px;
              background: linear-gradient(135deg, #a7a7a7, #4c4c4c);
            "
          >
            Skip for Now
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
